.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

h2{
    font-weight: 100;
}

.Recipient{
    margin-top: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Details{
        margin-top: 1rem;
    }


    .Details__box{
        border-bottom: 1px solid rgb(187, 187, 187);
        margin-bottom: .6rem;
    }

    span{
        font-weight: 600;
        margin-left: 1rem;
    }


}